---
---
@import "normalize.scss";
@import "foundation.scss";

%default-width {
  max-width: 920px;
  margin: 0 auto;
}

body {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;

  &:first-child {
    margin-top: 0;
  }
}
a {
  text-decoration: underline;
}

header {
  background: #3CB1AC url(/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;

  text-shadow: 1px 1px rgba(0,0,0,0.4);

  min-height: 180px;
  min-height: 66vh;
  padding: 1rem;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  > * {
    display: block;
    text-align: center;
    @extend %default-width;
  }

  h1 {
    font-size: 4rem;
    font-weight: bold;
    color: inherit;

    line-height: 1;
    padding-bottom: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  .lang-picker {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 1rem;

    a {
      color: inherit;
    }
  }
}

main {
  @extend %default-width;
  padding: 2.5rem 1rem;
}

svg {
  path {
    -webkit-filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.4));
            filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.4));
  }
  max-width: 397px;
  margin-bottom: 1.5rem;
}

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
  html, body {
    font-size: 18px;
  }
  header h1 {
    font-size: 5rem;
  }
}

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
  html, body {
    font-size: 20px;
  }
  header h1 {
    font-size: 6rem;
  }
}

