---
title: "Bärakassen.se"
---
<!DOCTYPE html>
<html>
<head>
  <title>{% if page.url != "/index.html" %}{{page.title}} | {% endif %}Bärakassen.se</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico" type="image/x-icon" />
  <link href="/css/site.css" rel="stylesheet" />
</head>
<body lang="{% if page.lang %}{{ page.lang }}{% else %}sv{% endif %}">
  <header>
    {% if page.lang == "en" %}
      <h1>Bära</h1>
      <p>We don't believe it is anybody's dream to beg. It should neither be anybody's future. A Bära-Bag (Bära means carry in swedish) can be the start on a journey for someone fighting for a better life. Do you want to be a part and carry a future?</p>
    {% elsif page.lang == "ro" %}
      <h1>Bära</h1>
      <p>Nu credem vre-o persoana are visul de a cersi. Acesta nu ar trebui sa fie viitorul nici unei persoane. O sacosa Sustine poate fi inceputul unei calatorii pentru cei ce lupta pentru o viata mai buna. Vrei sa ajuti si tu sa sustii un viitor?</p>
    {% else %}
      <h1>Bära</h1>
      <p>Vi tror inte att det är någons dröm att tigga. Det bör inte heller vara någons framtid. En Bära-kasse kan vara början på en resa för den som kämpar för ett bättre liv. Vill du hjälpa till att bära en framtid?</p>
    {% endif %}
  </header>
  <main>
    {{ content }}
  </main>
  <footer>

  </footer>
</body>
