---
title: "Bärakassen.se"
---
<!DOCTYPE html>
<html>
<head>
  <title>{% if page.url != "/index.html" %}{{page.title}} | {% endif %}Bärakassen.se</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico" type="image/x-icon" />
  <link href="/site.css" rel="stylesheet" />
</head>
<body>
  <header>
    <h1>Bära</h1>
    <p>Vi tror inte att det är någons dröm att tigga. Det bör inte heller vara någons framtid. 60 kronor för en tygkasse kan vara början på en resa mot en bättre framtid för någon som anstränger sig att nå dit. Vill du hjälpa till att bära en framtid?</p>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>

  </footer>
</body>
